---
---

@import "{{ site.theme }}";
//header {
//  h1 {
//   color: cornflowerblue;
//	}
//}

//header h1::before {
//	content: "";
//}
header {
	display: none;
}

body {
	font-family: system-ui;
}

#maintitle {
	font-size: 50px;
	color: aqua;
}

#maintitledesc {
	color: orange;
}
